<h1>Account information</h1>
<p>Find me in app/views/users/show.html.erb</p>


<p> <strong>Name:</strong> <%= @user.name %></p>

<p> <strong>Email:</strong> <%= @user.email %></p>

<p> <strong>Number of microposts:</strong> <%= @user.microposts.count %></p>

<% unless @user.microposts.empty? %>
<div class="micropost-lists">
<h2>Microposts</h2>
<table>
<%= render @microposts %>
</table>
<%= will_paginate @microposts %>
</div>
<% end %>

<%= link_to 'Home',  root_path %>

<%= debug(params) if Rails.env.development? %>